.footerStyles {
  background-color: rgb(24, 24, 25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
}

.socialLinkList {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0;
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 374px) {
  .socialLinkList {
    flex-wrap: wrap;
    gap: 3px;
  }
}

.socialLink {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  &:hover,
  &:focus {
    color: rgb(164, 164, 246);
  }
}

.wrapperList {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapperButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logOutButton {
  width: 70px;
  height: 25px;
  border-radius: 8px;
  background-color: #0ebb69;
  color: white;
  &:hover,
  &:focus {
    background-color: rgb(164, 164, 246);
  }
}
